<!--The content below is only a placeholder and can be replaced.-->
<h1>根组件</h1> 
<header>
    <ul>
        <li><a routerLink='Todolist'>Todolist</a></li>
        <li><a routerLink='Ajax'>Ajax</a></li>
        <li><a routerLink='Parent'>Parent</a></li>
        <li><a routerLink='Product'>Product</a></li>        
    </ul>
</header>
<hr>
<!-- <app-header></app-header> -->

<!-- <app-news></app-news> -->
<!-- <app-home></app-home> -->
<!-- <app-todolist></app-todolist> -->
<!-- <app-ajax></app-ajax> -->
<!-- <app-parent></app-parent> -->
<!-- <app-product></app-product> -->


<!-- 动态加载的组件显示的地方 -->
<router-outlet></router-outlet>